@import '../../../../assets/stylesheets/styles/variables';
@import '../../../../assets/stylesheets/mixins/general';
.news-list{
    list-style:none;
    padding:10px 10px 0;
    li{
        position:relative;
        padding:0 0 10px 25px;
        &:before{
            position:absolute;
            content:'';
            width:3px;
            top:0;
            bottom:0;
            left:0;
            background-color:$border-color-1;
        }
        &:after{
            position:absolute;
            content:'';
            width:12px;
            height:12px;
            background-color:$news-dot;
            @include border-radius(50%);
            left:-4.3px;
            top:0;
        }
        h4{
            padding-bottom:5px;
        }
        .news-list-link{
            color:$gray;
            &:not(:hover){
                text-decoration:none;
            }
        }
    }
}