*{
    margin:0;
    padding:0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
    font: normal 12px/18px 'poppinsregular', 'Trebuchet MS', Arial, San-serif;
    color:#333;
    background-color:#edf0ef;
    font-weight:400;
    line-height:1.5;
    text-align:left;
    background-color:#fff;
}
.pull-left{
    float:left !important;
}
.pull-right{
    float:right !important;
}
.text-left{
    text-align:left !important;
}
.text-right{
    text-align:right !important;
}
.text-center{
    text-align:center !important;
}
.full-width{
    width:100%;
}
.error-text{
    color:#f00;
}
.clearfix{
    @include clearFix();
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin:20px 0;
}
a{
    color:$link-color;
}
h1, h2, h3, h4, h5, h6{
    font-family:'philosopherregular';
    font-weight:100;
}
.thumb{
    max-width:75px;
    padding:3px;
    border:solid 1px #f0f0f0;
    &-round{
        @include border-radius(50%);
    }
    &-xs{
        max-width:40px;
    }
}
.page-loader{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    background-color:rgba($white, .7);
    z-index:10000;
    &:after {
        content: " ";
        display: block;
        width: 50px;
        height: 50px;
        position:fixed;
        top:50%;
        left:50%;
        margin:-25px 0 0 -25px;
        border-radius: 50%;
        border: 6px solid $black;
        border-color: $black transparent $black transparent;
        animation: spinner 1.2s linear infinite;
    }
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
#wrapper{
    #container{
        @include flex();
        padding:0;
        .middle-container{
            background-color:$white;
            flex:1;
            position:relative;
            margin-top:45px;
            padding:20px 20px 70px;
            .card{
                background-color:$card-bg;
                padding:10px 10px 0;
                border:solid 1px $border-color-1;
                @include border-radius(5px);
                p{
                    padding-bottom:10px;
                }
            }
            .form-container{
                padding:20px 0;
                [class*="col-"]{
                    padding-bottom:20px;
                }
                h2{
                    a{
                        font-size:80%;
                    }
                }
            }
        }
    }
}