*{
    margin:0;
    padding:0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
    font: normal 12px/18px 'poppinsregular', 'Trebuchet MS', Arial, San-serif;
    color:#333;
    background-color:#edf0ef;
    font-weight:400;
    line-height:1.5;
    text-align:left;
    background-color:#fff;
}
.pull-left{
    float:left !important;
}
.pull-right{
    float:right !important;
}
.full-width{
    width:100%;
}
.error-text{
    color:#f00;
}
#wrapper{
    #container{
        @include flex();
        padding:0;
        .middle-container{
            background-color:#ccc;
            flex:1;
            position:relative;
            margin-top:45px;
            padding:20px;
        }
        .widget-container{
            background-color:$widget-bg;
            border:$widget-border;
            @include border-radius(5px);
            padding:15px;
            h2{
                font-family:philosopherregular;
                color:$heading-color;
                padding-bottom:10px;
                .fa{
                    vertical-align:-1px;
                    padding-right:5px;
                }
            }
            video{
                width:100%;
            }
        }
    }
}