.form-container{
    padding:15px;
    clear:both;
    .row{
        align-items:baseline;
    }
}
.label{
    @include label();
    &-block{
        @include label();
        display:block;
    }
}
.required{
    .label{
        &:after{
            content:'\2605';
            color:$danger;
            margin-left:5px;
            font-size:70%;
            vertical-align:5px;
        }
    }
}
.form-control{
    @include form-control();
    &-inline{
        @include form-control();
        margin:0 10px;
        width:auto;
    }
    &-xs{
        @include form-control();
        max-width:70px;
    }
    @at-root{
        select#{&}{
            @include select();
            &-inline{
                @include select();
                display:inline-block;
                margin:0 10px;
                width:auto;
            }
        }
        textarea#{&}{
            height:100px;
        }
    }
}
table{
    .form-control{
        height:2rem;
    }
}
.check{
    @include customRadioCheck();
}
.radio{
    @include customRadioCheck();
    input{
        & + label{
            &:before, &:after{
                @include border-radius(50%);
            }
        }
    }
}
.input-group{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:stretch;
    align-items:stretch;
    width:100%;

    .form-control{
        position:relative;
        -ms-flex:1 1 auto;
        flex:1 1 auto;
        width:1%;
        margin-bottom:0;

        &:first-child, &:not(:last-child){
            border-top-right-radius:0;
            border-bottom-right-radius:0;
        }
    }
    .input-group-append{
        display:-ms-flexbox;
        display:flex;
        margin-left:-1px;

        .btn{
            position: relative;
            z-index:2;
            border-top-left-radius:0;
            border-bottom-left-radius:0;
        }
    }
}